h3{
    margin-bottom: 0;
}


.row two{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
 
}

.button1{
    background-color: #62c1cd;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}

body {
  
    background-color: #f5f5f5;
   
}

.card{
    background-color: rgb(43, 44, 49);
    color: cornsilk;
    margin: 24px 0;
    padding: 18px;
    
    width:100%
}

  
.notification .badge {
    
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }

.col-xl-8{
    height: 100%;
    width: 100%;
}

b{
    margin: 0 20px;
}

hr{
    margin: 0;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:white;
}
  
footer p {
    margin-bottom: .25rem;
}

.img{
    text-align: center
}

.img img{
    width: 200px;

}


  



  